body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1128px;
  margin: 0 auto;
  /* min-height: 100%; */
}

.nav__link {
  min-height: 56px;
  min-width: 80px;
  color: rgb(105, 105, 105);
}
.nav__link span {
  font-size: 13px;
}
.nav__link:hover {
  color: black;
}
.nav__link--active {
  position: relative;
  color: black;
}
.nav__link--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #05162e;
  display: block;
  bottom: 0;
}
.card-wrapper {
  background: #fff;
  border-radius: 0.5rem;
  border: 1px solid #f3f4f6;
}
.post-container {
  position: relative;
}
.post-insider-link {
  position: relative;
  z-index: 1;
}
.post-wrap-link {
  position: static;
}
.post-wrap-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
